.main-container {
    padding: 80px 30px 30px 30px;
}

html {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}

html, body, #root, #root>div {
    height: 100%
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

body {
    margin: 0;
    background-color: #efefef;
}

body, html, #app, #app > div{
    height: 100%;
}

a {
    color: #ff4081;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.m-b-15 {
    margin-bottom: 15px;
}

*:focus { outline: none; }